
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #379220   ;
  --secondary-color: #93b488 ;
  --accent1-color: #e1e1d1;
  --accent2-color: #353435;

  /* change the values below to your chosen font(s) */
  --heading-font: "Oswald";
  --paragraph-font: "Roboto Condensed";
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 10%;
}

#paint-img {
  z-index: -1;
  grid-column: 1/11;
  grid-row: 1/6;
  width: 100%;
  height: 125%;
}
.servicesAvailable {
  grid-row: 1/11;
  grid-column: 1/11;
  /*background-color: var(--secondary-color);*/
  display: grid;
  grid-template-columns: repeat(20, 4%);
  grid-template-rows: repeat(12, 10%);
  grid-gap: 1%;
  font-size: 1.2em;
  justify-content: center;
}

.servicesAvailable h2 {
  grid-row: 2/3;
  grid-column: 8/14;
  font-size: 1.4em;
  text-align: center;
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.lawnCare {
  grid-row: 3/5;
  grid-column: 1/7;
  background-color: var(--primary-color);
  padding: 5%;
  margin-bottom: -9%;
  color:white;
  font-family: var(--paragraph-font);
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}

.toggle-button{
  display: block;
  cursor: pointer;
  border: none;
  z-index: 0;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  min-width: 100%;
}

.lawn-care-button {
  /* Styles for the lawn care button */
  grid-column: 1/7;
  grid-row: 5/6;
}

.cleaning-services-button {
  /* Styles for the cleaning services button */
  grid-column: 8/14;
  grid-row: 5/6;
}

.painting-button {
  /* Styles for the painting button */
  grid-column: 15/21;
  grid-row: 5/6;
}


.lawnCare h3,
.cleaningServices h3,
.painting h3 {
  text-align: center;
  color: white; 
}

.lawnCare p,
.cleaningServices p,
.painting p {
  text-align: center;
  
}

.cleaningServices {
  grid-row: 3/5;
  grid-column: 8/14;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--paragraph-font);
  padding: 5%;
  overflow: hidden;
  margin-bottom: -9%;
  text-overflow: ellipsis;
  z-index: 1;
}

.painting {
  grid-row: 3/5;
  grid-column: 15/21;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--paragraph-font);
  padding: 5%;
  overflow: hidden;
  margin-bottom: -9%;
  text-overflow: ellipsis;
  z-index: 1;
}



nav {
  
    display: flex;
    justify-content: space-around; 
    background-image: url("../images/backdrop-color.png");
    background-size: 15% 220%; /* Cover the full width and half the height */
    background-repeat: repeat-x;
    max-height: 150px;
    line-height: 5em;
    font-size: 1.6em;
    list-style-type: none;
    
  }

  nav a {
    padding: 5px;
    font-family: var(--heading-font);
    min-width: 120px;
    text-decoration: none;

  }
  nav a:link, nav a:visited {
    color: var(--primary-color);
  }
  nav a:hover {
    color: var(--secondary-color);
  }
  #logo_link {
    justify-self: center;
    align-self: center;
}
  .logo
{
    margin-top: 60px;
    width: 170px;
}

footer .social img {
  width: 40px;
  padding: 10px;
}

footer .social {
  justify-content: space-around; 
  display: flex;
}

footer
{

  background-image: url("../images/backdrop-color.png");
  background-size: 15% 220%;
  background-repeat: repeat-x;
  
  grid-row: 9/10;
  grid-column: 1/11;
  padding: 25px 50px;
  margin-top: 200px; 
  display: flex;
  text-decoration: none;
  font-size: 1.2em;
  justify-content: space-around;
  align-items: center;  
  margin-top: 40%;
}

footer a 
{
    font-size: 1.4em;
    font-family: var(--heading-font);
    text-decoration: none;
    color: var(--primary-color);
}

footer p 
{
    font-size: 0.9em;
    color: var(--primary-color);
    text-decoration: none;
}