
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #379220   ;
  --secondary-color: #93b488 ;
  --accent1-color: #e1e1d1;
  --accent2-color: #353435;

  /* change the values below to your chosen font(s) */
  --heading-font: "Oswald";
  --paragraph-font: "Roboto Condensed";
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin-top: 10%;
}

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 35%);
  margin-top: 10%;
}

header{
  display: flex;
  align-items: center; 
  background-image: url("../images/backdrop-color.png");
  background-size: 15% 100%; /* Cover the full width and half the height */
  background-repeat: repeat-x;
  justify-content: space-around;
  max-height: 170px;
}

nav {
  max-height: 150px;
  line-height: 5em;
  font-size: 1.6em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  min-width: 80%;
}

nav a {
  text-align: center;
  padding: 5px;
  font-family: var(--heading-font);
  /*min-width: 180px;*/
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: var(--primary-color);
}
nav a:hover {
  color: var(--secondary-color);
}
#logo_link {
  justify-self: center;
  align-self: center;
}
.logo
{
  width: 170px;
}


.servicesAvailable {
  grid-row: 1/4;
  grid-column: 1/11;
  background-image: url("../images/painting.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(25, 4%);
  grid-template-rows: repeat(25, 4%);
  font-size: 1.2em;
  justify-content: center;
}

.signUp
{
  grid-row: 4/6;
  grid-column: 1/11;
  font-family: var(--paragraph-font);
  text-align: center;
  background-image: url("../images/sweeping.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.signUp p
{
  background-color: var(--secondary-color);
  color: white;
  padding: 1%;
  margin-top: -2%;
}



.ourPromise
{  grid-row: 6/8;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(12, 10%);
  background-image: url("../images/mowing.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.ourPromise iframe
{
  grid-row: 3/5;
  grid-column: 2/5;
  width: 80%;
  height: 100%;
  margin-left: 15%;
  z-index: 1;
}

.ourPromise p{
  grid-row: 2/6;
  grid-column: 5/10;
  padding: 6%;
  margin: 0;
  font-size: auto;
  text-align: center;
  font-family: var(--paragraph-font);
  background-color: var(--secondary-color);
  color: white;
}

.ourPromise h2{
  text-align: center;
  padding: 6%;
  margin: 0;
  background-color: var(--secondary-color);
  color: white;
  grid-column: 2/5;
  grid-row: 2/6;
  z-index: 0;
}

.signUplk
{
  grid-row: 5/6;
  grid-column: 5/7;
  padding: 4%;
  z-index: 1;
  display: flex;
  height: 20%;
  text-align: center;
  justify-content: center;
}
.signUplk a:link, .signUplk a:visited {
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  width: 120%;
  align-content: center;
  font-family: var(--heading-font);
  font-size: 2.0em;
}
.signUplk a:hover {
  
  color: var(--primary-color);
}

.servicesAvailable h2 {
  grid-row: 2/3;
  grid-column: 10/17;
  font-size: 1.4em;
  text-align: center;
  font-family: var(--heading-font);
  color: white;
}

.lawnCare {
  grid-row: 4/7;
  grid-column: 2/9;
  background-color: var(--secondary-color);
  padding: 5%;
  color:white;
  font-family: var(--paragraph-font);
  overflow: hidden;
  margin-bottom: -11%;
  text-overflow: ellipsis;
  z-index: 1;
}

.cleaningServices {
  grid-row: 4/7;
  grid-column: 10/17;
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--paragraph-font);
  padding: 5%;
  overflow: hidden;
  margin-bottom: -11%;
  text-overflow: ellipsis;
  z-index: 1;
}

.painting {
  grid-row: 4/7;
  grid-column: 18/25;
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--paragraph-font);
  padding: 5%;
  overflow: hidden;
  margin-bottom: -11%;
  text-overflow: ellipsis;
  z-index: 1;
}

.toggle-button{
  display: block;
  cursor: pointer;
  border: none;
  z-index: 0;
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
  min-width: 100%;
}




.lawn-care-button {
  /* Styles for the lawn care button */
  grid-column: 2/9;
  grid-row: 7/9;
}

.cleaning-services-button {
  /* Styles for the cleaning services button */
  grid-column: 10/17;
  grid-row: 7/9;
}

.painting-button {
  /* Styles for the painting button */
  grid-column: 18/25;
  grid-row: 7/9;
}

.lawnCare h3,
.cleaningServices h3,
.painting h3 {
  text-align: center;
  color: white; 
}

.lawnCare p,
.cleaningServices p,
.painting p {
  text-align: center;
  
}

.calendar
{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  grid-column: 1/11;
  width: 100%;
  grid-row: 1/5;
  align-items: center;
  background-image: url("../images/niceLawn.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.calendar h2
{
  grid-row: 2/3;
  grid-column: 4/8;
  width: 100%;
  text-align: center;
  font-family: var(--heading-font);
  color: white;
}

.calendar iframe
{
  grid-column: 2/10;
  grid-row: 3/10;
  width: 100%;
  height: 100%;
}

.forum
{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(8, 10%);
  grid-column: 1/11;
  width: 100%;
  grid-row: 5/8;
  align-items: center;
  background-image: url("../images/gloveCleaning.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.forum p
{
  grid-column: 1/11;
  grid-row: 1/2;
  height: 100%;
  line-height: 500%;
  font-family: var(--paragraph-font);
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
}

.forum iframe
{
  grid-column: 2/10;
  grid-row: 3/9;
  width: 100%;
  height: 100%;
}

footer .social img {
  width: 40px;
  padding: 10px;
}

footer .social {
  justify-content: space-around; 
  display: flex;
}

footer
{

  background-image: url("../images/backdrop-color.png");
  background-size: 15% 100%;
  background-repeat: repeat-x;
  
  grid-row: 7/8;
  grid-column: 1/11;
  padding: 25px 50px; 
  display: flex;
  text-decoration: none;
  font-size: 1.2em;
  justify-content: space-around;
  align-items: center;  
  margin-top: 22%;
}

footer a 
{
    font-size: 1.4em;
    font-family: var(--heading-font);
    text-decoration: none;
    color: var(--primary-color);
}

footer p 
{
    font-size: 0.9em;
    color: var(--primary-color);
    text-decoration: none;
}

@media screen and (max-width: 700px) {
  .home-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
  }

  .servicesAvailable {
    grid-row: 1/4;
    grid-template-rows: repeat(49, 2%);
    font-size: 60%;
    justify-content: center;
  }

  .servicesAvailable h2
  {
    grid-row: 1/2;
  }

  .toggle-button{
    display: none;
  }

  .cleaningServices
  {
    margin: 0;
    grid-column: 2/25;
    grid-row: 3/17;
  }
  
  .signUp p
{
  padding: 2%;
}


  .lawnCare
  {
    margin: 0;
    grid-column: 2/25;
    grid-row: 18/32;
  }

  .painting
  {
    margin: 0;
    grid-column: 2/25;
    grid-row: 33/49;
  }

    nav{
      background-size: 40% 110%;
      background-repeat: repeat-x;
      height: 150%;
  }

  footer
    {
        height: 60%;
        flex-direction: column;
        text-align: center;
        display: block;
        background-size: 50% 110%;
        background-repeat: repeat-x;
    } 
    footer p, nav a
    {
        font-size: 75%;
        width: 95%;
    }

    header
    {
        padding: 5px 5px;
        display: block;
        align-items: center;  
        
    }
    .signUplk
    {
      grid-column: 3/8;
      height: 20%;
      width: 100%;
      padding: 2%;
    }


.ourPromise
{
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(21, 3%);
  background-image: url("../images/mowing.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.ourPromise iframe
{
  grid-row: 15/19;
  grid-column: 3/8;
  width: 100%;
  height: 100%;
  margin-left: 9%;
  z-index: 1;
}

.ourPromise p{
  grid-row: 3/20;
  grid-column: 2/10;
  padding: 6%;
  font-size: 58%;
  text-align: center;
  font-family: var(--paragraph-font);
  background-color: var(--secondary-color);
  color: white;
}

.ourPromise h2{
  text-align: center;
  padding: 2%;
  margin: 0;
  background-color: var(--secondary-color);
  color: white;
  grid-column: 2/10;
  grid-row: 2/3;
  z-index: 0;
}



    nav a, nav
    {
        justify-content: space-around;
        min-width: 0;
        line-height: 0.3em;
    }

    nav a{
      font-size: 45%;
    }

    .logo{
      width: 25%;
      padding: 0px;
      }

    

}