
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #379220   ;
  --secondary-color: #93b488 ;
  --accent1-color: #e1e1d1;
  --accent2-color: #353435;

  /* change the values below to your chosen font(s) */
  --heading-font: "Oswald";
  --paragraph-font: "Roboto Condensed";
}

#content 
{
    max-width: 1600px;
    margin: 0 auto;
}

nav {
  
    display: flex;
    justify-content: space-around; 
    background-image: url("../images/backdrop-color.png");
    background-size: 15% 220%; /* Cover the full width and half the height */
    background-repeat: repeat-x;
    max-height: 150px;
    line-height: 5em;
    font-size: 1.8em;
    list-style-type: none;
    
  }

  nav a {
    padding: 5px;
    font-family: var(--heading-font);
    min-width: 120px;
    text-decoration: none;

  }
  nav a:link, nav a:visited {
    color: var(--primary-color);
  }
  nav a:hover {
    color: var(--secondary-color);
  }
  #logo_link {
    justify-self: center;
    align-self: center;
}
  .logo
{
    margin-top: 60px;
    width: 170px;
}

footer .social img {
  width: 25px;
}

footer
{
  display: flex;
  justify-content: space-around; 
  background-image: url("../images/backdrop-color.png");
  background-size: 15% 220%; /* Cover the full width and half the height */
  background-repeat: repeat-x;
  max-height: 150px;
  line-height: 5em;
  font-size: 1.8em;
  list-style-type: none;
}

.topic_desc
{
  
  padding-top: 150px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0;
  grid-row: 1/8;
  grid-column: 1/11;
 
}
footer p, nav a, .outsideWork, .learnCert img
{
  font-size: 75%;
  width: 95%;
}